body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #f9f9f9;
  color: black;
  border-bottom: .4px solid rgba(128, 128, 128, 0.371);
}

.nav .left {
  font-size: 24px;
}

.nav .right button {
  background-color: #ff9800;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-div {
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

input[type="text"] {
  width: 60%;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li.success {
  color: green;
}

li.error {
  color: red;
}
#thumbnail{
    height: 200px;
}
.hero button{
    padding: 9px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 6px;
}
#video-details{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}